.app_wrapper{
    display: grid;
    grid-template-areas:
            "headerGrid headerGrid"
            "menuGrid contentGrid"
            "footerGrid footerGrid";
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

}

.content{
    grid-area: contentGrid;
    background-color: red;
}